.img {
  width: 33.3vw;
  height: 100vh;
}

.container {
  width: 100%;
  position: relative;

  .nodejs {
    position: absolute;
    top: 0%;
    left: 20%;
  }
  
  .postgresql {
    position: absolute;
    top: 0%;
    left: 40%;
  }

  .prisma {
    position: absolute;
    top: 0%;
    left: 60%;
  }
}

@media only screen and (max-width: 700px) {
  .img {
    width: 100vw;
    height: auto;
  }
}
