.speechBubbleImg {
  width: 100%;
  height: 100%;
  border: 5px solid black;
}

.line {
  position: relative;
  height: 100%;

  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

@media only screen and (min-width: 550px) {
  .text {
    font-size: 2rem;
  }
}
