.button {
  padding: 0.5rem;
  border-radius: 5px;
  width: 50%;
  text-decoration: none;
  color: black;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.2s;

  position: absolute;
  top: 65%;
  left: 30%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    position: absolute;
    top: 66%;
    left: 31%;
    box-shadow: none;
  }
}
