.button {
  padding: 1rem;
  border-radius: 5px;
  font-size: 2rem;
  width: 50%;
  text-decoration: none;
  color: black;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.2s;

  position: absolute;
  top: 35%;
  left: 25%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    position: absolute;
    top: 36%;
    left: 26%;
    box-shadow: none;
  }
}
