.container {
  height: 100vh;
  position: relative;
  border: 10px solid black;
  overflow: hidden;

  .scrolling {
    width: 80px;
    height: 80px;
    border: 0.5px solid gray;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    background-color: rgb(9, 91, 9);
    opacity: 0.5;
    color: white;
    cursor: pointer;

    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);

    &:hover {
      opacity: 0.8;
    }

    &:active {
      position: absolute;
      bottom: 9%;
      left: 50.5%;
    }
  }
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  // clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.myImg,
.speechBubbleImg {
  width: 50vw;
  height: 100vh;
}

.line {
  position: relative;
  height: 100%;

  .speechBubbleImg {
    animation: floatingBubble 3s ease-in-out infinite;
  }

  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    animation: floatingText 3s ease-in-out infinite;
  }
}

@keyframes floatingBubble {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes floatingText {
  0% {
    transform: translate(-50%, -55%);
  }
  50% {
    transform: translate(-50%, -30%);
  }
  100% {
    transform: translate(-50%, -55%);
  }
}

@media only screen and (min-width: 550px) {
  .text {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 700px) {
  .container {
    height: auto;

    .scrolling {
      width: 55px;
      height: 55px;
      font-size: 20px;
      bottom: 8%;

      &:active {
        bottom: 7.5%;
      }
    }
  }

  .home {
    flex-wrap: wrap-reverse;
    gap: 20px;
  }

  .myImg,
  .speechBubbleImg {
    width: 100vw;
    height: auto;
  }
}
