.project {
  padding: 50px 30px;
  width: 100%;
  min-width: 300px;

  background-image: url("/action_line.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.speechBubble {
  width: 100%;
  animation: scaling 3s ease-in-out infinite;
}

.line {
  position: relative;

  .text {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    animation: scalingText 3s ease-in-out infinite;
  }
}

.img {
  border: 0.5px solid rgb(191, 191, 191);
  transition: 0.2s;
  width: 100%;
  height: auto;

  &:hover {
    transform: scale(1.2);
  }
}

@keyframes scaling {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scalingText {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
